@model BookwormsOnline_Trial4.Models.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>

@if (ViewData.ModelState.Any(x => x.Value.Errors.Count > 0))
{
    <div class="alert alert-danger">
        <ul>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <li>@error.ErrorMessage</li>
            }
        </ul>
    </div>
}


<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label>Old Password</label>
        <input asp-for="OldPassword" type="password" class="form-control" required>
        <span asp-validation-for="OldPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>New Password</label>
        <input asp-for="NewPassword" type="password" class="form-control" required>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Confirm New Password</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" required>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Change Password</button>
</form>