@model BookwormsOnline_Trial4.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
}

<h2>Forgot Password</h2>
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
<form asp-action="ForgotPassword" method="post">
    <label>Email Address:</label>
    <input asp-for="Email" required />
    <button type="submit">Submit</button>
</form>
